extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac eleifend urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam enim tellus, vestibulum nec nunc a, dapibus blandit augue. Cras aliquam ex ut auctor ultrices. Maecenas placerat nunc libero, eu luctus lectus ultrices eu. Donec nisl nisl, accumsan ac rutrum eget, posuere eget eros. In bibendum tellus nec quam efficitur euismod. Aenean a augue a purus fringilla fermentum in sed quam. Donec a euismod sapien. Mauris ac rhoncus diam. Morbi vel tempus leo.

                p Donec pulvinar volutpat metus, eu mollis magna molestie quis. Sed erat nibh, accumsan eu risus vel, tempor sagittis metus. Sed egestas egestas dolor, in faucibus odio dapibus vel. Etiam ac sodales metus. Curabitur finibus magna urna, congue tincidunt nisi condimentum sit amet. In hac habitasse platea dictumst. Sed elementum arcu eget accumsan vestibulum. Aenean quis magna non turpis aliquam rhoncus at eget elit. Nunc id ex ut lacus condimentum vestibulum. Mauris tristique dui id tortor lobortis, non auctor ipsum vehicula. Ut risus tellus, ullamcorper nec purus sit amet, volutpat feugiat nulla. Aenean at mi molestie, bibendum enim nec, semper mi. Fusce facilisis lectus ipsum, quis malesuada purus finibus a. Nam fringilla ex sit amet metus placerat egestas. Etiam sit amet purus a nisl ultricies convallis. Curabitur a vehicula urna.

                p Nulla dapibus mauris et posuere gravida. Suspendisse non suscipit felis, at tempor quam. Suspendisse cursus metus magna, sit amet tempus risus finibus vitae. In sagittis lorem sit amet ante dapibus, sit amet tempus justo dapibus. Nullam finibus pretium urna, a eleifend tellus imperdiet ut. Donec luctus in metus ac tempor. Proin egestas, massa at ullamcorper porta, sapien sem elementum felis, in semper ipsum sem vitae sem. Praesent pellentesque at massa nec sagittis. Phasellus eu eros sed orci blandit bibendum. Vivamus rhoncus a nulla id vehicula. Sed consequat cursus felis, eu mollis lacus fringilla et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare mauris nec lacus molestie, ac feugiat libero tempus. Nullam quis leo cursus, suscipit nunc eu, varius augue. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Nulla dapibus mauris et posuere gravida. Suspendisse non suscipit felis, at tempor quam. Suspendisse cursus metus magna, sit amet tempus risus finibus vitae.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Nulla dapibus mauris et posuere gravida. Suspendisse non suscipit felis, at tempor quam. Suspendisse cursus metus magna, sit amet tempus risus finibus vitae.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios
                    p Nulla dapibus mauris et posuere gravida. Suspendisse non suscipit felis, at tempor quam. Suspendisse cursus metus magna, sit amet tempus risus finibus vitae. 